PORT=3201
RPC_URL=https://api.metadium.com/dev
CONTRACT_ADDRESS=0xc133B5D82A253F6A05e4e6F92438beB26C9a932D
DEPLOYER_PRIVATE_KEY=0x...
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
FRONTEND_URL=http://10.150.254.110:3200
